:root {
    --libdoc-container-width: var(--ita-widths-content);
    --libdoc-font-family: "Recursive", sans-serif;
    --libdoc-damier: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAHElEQVR4AWP4jwOcwQFoo2FUAy4JXAbRRMOoBgCE0rCfubvZNQAAAABJRU5ErkJggg==');
    --libdoc-long-shadow:
        1px 1px 2px rgba(15, 49, 86, 0.08),
        5px 6px 9px rgba(15, 49, 86, 0.16),
        12px 13px 21px rgba(15, 49, 86, 0.24),
        22px 24px 38px rgba(15, 49, 86, 0.32),
        34px 37px 59px rgba(15, 49, 86, 0.40);
}
/* FONTS */
/* cyrillic-ext */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_cyrillic_ext.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* vietnamese */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_vietnamese.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_latin_ext.woff2') format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* BROWSERS DEFAULTS */
/* <details> défaut style on iOS */
details > summary::-webkit-details-marker {
    display: none;
}
details:not([open]) > summary .icons span[class*="icon-"]:nth-child(2) {
    display: none;
}
details[open] > summary .icons span[class*="icon-"]:nth-child(1) {
    display: none;
}
/* <button> and <select> default style on iOS */
select, button {
    color: black
}
/* Opacity disabled input on iOS */
input:disabled {
    opacity: 1;
}
/* input type search reset */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

@view-transition {
    navigation: auto;
}

* {
    box-sizing: border-box;
}
body,
input,
code,
button {
    font-family: var(--libdoc-font-family);
}
body {
    background: 0px 0px / 20px 20px radial-gradient(var(--ita-colors-primary-300) 0.5px,var(--ita-colors-primary-100) 1px);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--ita-fontSizes-5);
    font-variation-settings: "slnt" 0, "CASL" 0.5, "CRSV" 1, "MONO" 0, "wght" 330;
}
html,
.o-auto {
    scrollbar-color: var(--ita-colors-primary-500) transparent;
    scrollbar-width: 10px;
}
button:disabled {
    opacity: 0.5;
    cursor: default;
}
input:focus {
    outline: 2px solid var(--ita-colors-primary-400);
}
code {
    font-variation-settings: "slnt" 0, "CASL" 0, "CRSV" 0.0, "MONO" 1, "wght" 300;
    line-height: 1.6em;
    font-size: var(--ita-fontSizes-3);
}
/* MAIN CONTENT */
main {
    color: var(--ita-colors-primary-900);
}
main *::target-text {
    background-color: aqua;
}
main *::selection {
    text-shadow: none;
    background-color: var(--ita-colors-primary-500);
    color: var(--ita-colors-primary-100);
}
main > * {
    display: block;
    width: 100%;
    max-width: calc(var(--libdoc-container-width) + 2 * var(--ita-spacings-9));
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--ita-spacings-9);
    padding-right: var(--ita-spacings-9);
}
main del {
    background-color: var(--ita-colors-danger-100);
    color: var(--ita-colors-danger-900);
}
main ins {
    background-color: var(--ita-colors-success-100);
    color: var(--ita-colors-success-900);
}
/* main > header p,
main > header summary {
    text-shadow: var(--libdoc-text-shadow-legibility);
} */
main p {
    /* text-shadow: var(--libdoc-text-shadow-legibility); */
    line-height: 1.6em;
}
/* HEADINGS */
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    color: var(--ita-colors-primary-900);
    position: relative;
    scroll-margin-top: var(--ita-spacings-6);
}
main h1:target a,
main h2:target a,
main h3:target a,
main h4:target a,
main h5:target a,
main h6:target a {
    background-color: var(--ita-colors-primary-500);
    color: var(--ita-colors-primary-100);
    border-color: var(--ita-colors-primary-100);
}
main h1 {
    font-variation-settings: "wght" 800, "MONO" 0;
    font-size: var(--ita-fontSizes-9);
    letter-spacing: -0.06em;
}
main h2 {
    font-variation-settings: "wght" 700, "MONO" 0;
    font-size: var(--ita-fontSizes-9);
    letter-spacing: -0.06em;
}
main h3 {
    font-variation-settings: "wght" 800, "MONO" 0;
    font-size: var(--ita-fontSizes-8);
    letter-spacing: -0.05em;
}
main h4 {
    font-variation-settings: "wght" 700, "MONO" 0;
    font-size: var(--ita-fontSizes-8);
    letter-spacing: -0.05em;
}
main h5 {
    font-variation-settings: "wght" 800, "MONO" 0;
    font-size: var(--ita-fontSizes-7);
    letter-spacing: -0.05em;
}
main h6 {
    font-variation-settings: "wght" 700, "MONO" 0;
    font-size: var(--ita-fontSizes-7);
    letter-spacing: -0.05em;
}
/* LINKS */
main a {
    transition: all 300ms;
}
main a:link,
main a:visited {
    color: var(--ita-colors-primary-500);
    font-variation-settings: "wght" 500, "MONO" 0;
    letter-spacing: -0.03em;
    /* text-shadow: none; */
    text-underline-offset: 0.2em;
    text-decoration-thickness: 0.1em;
}
main a:hover {
    color: var(--ita-colors-primary-700);
    font-variation-settings: "wght" 700, "MONO" 0;
}
/* EMPHASIS */
main em {
    font-variation-settings: "SLNT" 1, "wght" 400;
}
main strong,
main b {
    font-variation-settings: "wght" 700, "MONO" 0;
    letter-spacing: -0.03em;
}
main i {
    font-variation-settings: "slnt" -15, "MONO" 0;
}
/* MARKING AND SPECIALS */
main mark {
    /* text-shadow: none; */
    background-color: var(--ita-colors-success-100);
    color: var(--ita-colors-success-900);
}
main s,
main strike {
    text-decoration-color: var(--ita-colors-primary-500);
    text-decoration-thickness: 0.05em;
    text-decoration-style: wavy;
    /* text-shadow: none; */
}
/* main del {
    text-shadow: none;
} */
main del * {
    /* text-shadow: none; */
    background-color: var(--ita-colors-danger-100);
    color: var(--ita-colors-danger-900);
    max-width: var(--libdoc-container-width);
}
/* main ins {
    text-shadow: none;
} */
main ins * {
    /* text-shadow: none; */
    background-color: var(--ita-colors-success-100);
    color: var(--ita-colors-success-900);
    max-width: var(--libdoc-container-width);
}
main samp {
    font-family: var(--libdoc-font-family);
    font-variation-settings: "MONO" 1, "CASL" 1, "wght" 400;
}
main q {
    font-variation-settings: "slnt" -15, "CRSV" 1, "CASL" 1, "wght" 400;
    /* text-shadow: none; */
    background-color: var(--ita-colors-primary-100);
}
main kbd {
    font-variation-settings: "MONO" 1, "wght" 400;
    font-family: var(--libdoc-font-family);
    /* text-shadow: none; */
    background-color: var(--ita-colors-primary-200);
    padding: 0 0.4em;
    border-radius: 4px;
}
/* LISTS */
main ul,
main ol {
    line-height: 1.6em;
}
main > ol li + li,
main > ul li + li  {
    margin-top: 0.4em;
}
main > ol {
    padding-left: var(--ita-spacings-11);
}
main > ol,
main > ol ol {
    counter-reset: listItem;
    list-style: none;
    margin-top: 0.4em;
}
main > ol li,
main > ol ol li {
    counter-increment: listItem;
    padding-left: var(--ita-spacings-5);
}
/* 
https://www.joshwcomeau.com/css/styling-ordered-lists-with-css-counters/
*/
main > ol li::before,
main > ol ol li::before {
    content: counters(listItem, '.') '.';
    position: absolute;
    transform: translateY(0.2em) translateX(calc(-100% - var(--ita-spacings-3)));
    display: inline-block;
    font-variation-settings: "wght" 400, "MONO" 1, "CASL" 1;
    font-size: var(--ita-fontSizes-2);
    padding: 0em 1em;
    background-color: var(--ita-colors-primary-600);
    color: var(--ita-colors-primary-100);
    border-radius: 100px;
    line-height: 2em;
    letter-spacing: -0.2em;
}
main > ul {
    padding-left: var(--ita-spacings-11);
}
main > ul,
main > ul ul {
    list-style: none;
}
main > ul li::before,
main > ul ul li::before {
    content: '';
    position: absolute;
    transform: translateX(calc(-100% - var(--ita-spacings-5)));
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: var(--ita-colors-primary-500);
    border-radius: 100%;
    margin-right: var(--ita-spacings-3);
    margin-left: var(--ita-spacings-2);
    margin-top: 0.6em;
}
/* main li {
    text-shadow: var(--libdoc-text-shadow-legibility);
} */
/* CODE AND SYNTAX HIGHLIGHTING */
main > *:not(pre) code {
    background-color: var(--ita-colors-primary-200);
    /* text-shadow: none; */
    display: inline-block;
    margin-right: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 0.3em;
    font-variation-settings: "wght" 400;
    color: var(--ita-colors-primary-800);
}
/* language not supported in highlight js */
main pre:not(:has(.hljs)) {
    overflow: auto;
}
main > pre {
    padding: var(--ita-spacings-9);
    background-color: var(--ita-colors-primary-200);
    border-radius: 12px;
    border: 1px solid var(--ita-colors-primary-300);
    box-shadow: inset 0.3em 0.3em 2em #0B427C44;
    overflow: hidden;
}
main > pre > code {
    border-radius: 6px;
    box-shadow: var(--libdoc-long-shadow);
}
main > pre > code::before {
    content: attr(class);
    display: block;
    padding-bottom: var(--ita-spacings-2);
    margin-bottom: var(--ita-spacings-2);
    border-bottom: 1px dashed #385267;
    font-size: var(--ita-fontSizes-2);
    font-variation-settings: "wght" 400;
}
/* TABLES */
main table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    max-width: var(--libdoc-container-width);
}
main table thead th {
    text-align: left;
    font-variation-settings: "wght" 400, "MONO" 0;
    font-size: var(--ita-fontSizes-3);
    padding: var(--ita-spacings-3);
    background-color: var(--ita-colors-primary-100);
    border: 1px solid var(--ita-colors-primary-200);
}
main table tbody tr td {
    padding: var(--ita-spacings-3);
    font-size: var(--ita-fontSizes-3);
    border: 1px solid var(--ita-colors-primary-200);
    font-variation-settings: "wght" 400, "MONO" 0;
}
main table tbody tr:nth-child(odd) td {
    background-color: var(--ita-colors-primary-200);
    color: var(--ita-colors-primary-900);
}
main table tbody tr:nth-child(even) td {
    background-color: var(--ita-colors-primary-100);
}
/* QUOTES */
main blockquote {
    background-color: var(--ita-colors-primary-100);
    color: var(--ita-colors-primary-800);
    padding: var(--ita-spacings-5) var(--ita-spacings-7);
    max-width: var(--libdoc-container-width);
    border-radius: 6px;
    border: 1px solid var(--ita-colors-primary-200);
    font-family: var(--libdoc-font-family);
    font-size: var(--ita-fontSizes-5);
}
main blockquote * {
    font-variation-settings: "slnt" -15, "CASL" 1 , "CRSV" 1;
    /* text-shadow: none; */
}
/* DEFINITION LISTS */
main dl dt {
    font-variation-settings: "wght" 500, "MONO" 0;
    margin-bottom: 0.2em;
    letter-spacing: -0.04em;
    color: var(--ita-colors-primary-700);
}
main dl dd {
    margin-left: var(--ita-spacings-5);
    margin-bottom: 1em;
    line-height: 1.6em;
}
/* DETAILS */
main > details summary {
    font-variation-settings: "wght" 400, "MONO" 0;
    display: flex;
    align-items: center;
    gap: var(--ita-spacings-2);
}
main > details summary::before {
    content: '\e914';
    font-family: icomoon;
    color: var(--ita-colors-primary-500);
    font-size: var(--ita-fontSizes-6);
}
main > details[open] summary::before {
    content: '\e913';
}
/* HORIZONTAL RULE */
main hr {
    border: none;
}
main hr::before {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 1px dashed var(--ita-colors-neutral-500);
}
/* IMAGES */
main img {
    max-width: 100%;
    height: auto;
}
main > figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1em;
    padding: var(--ita-spacings-9);
    background-color: var(--ita-colors-neutral-100);
    border-radius: 12px;
    border: 1px solid var(--ita-colors-neutral-400);
    overflow: hidden;
}
main > figure.dark {
    color: var(--ita-colors-neutral-100);
    background-color: var(--ita-colors-neutral-900);
}
main > figure.damier > picture > img {
    background: var(--libdoc-damier);
}
main > figure.rounded-corners > picture > img {
    border-radius: 6px;
}
main > figure.long-shadow {
    row-gap: 2em;
}
main > figure.long-shadow > picture > img {
    box-shadow: var(--libdoc-long-shadow);
}
main > figure > figcaption {
    font-size: var(--ita-fontSizes-4);
    font-variation-settings: "slnt" -5, "CASL" 0, "CRSV" 1.0, "MONO" 0, "wght" 300;
}
/* VIDEO */
main > video {
    background: var(--ita-colors-neutral-900);
    padding: 0;
    max-width: var(--libdoc-container-width);
}
/* SEARCH OCCURRENCES */
main .__search-occurrence {
    background-color: var(--ita-colors-success-100) !important;
    outline: 3px solid var(--ita-colors-success-100) !important;
    border-radius: 4px;
    /* text-shadow: none; */
}
/* main .__search-occurrence * {
    text-shadow: none;
} */

#nav_primary .nav_primary__anchor::before {
    content: '';
    display: flex;
    border-top: 1px dashed var(--ita-colors-neutral-500);
    width: var(--ita-spacings-5);
    min-width: var(--ita-spacings-5);
    order: -2;
}
#nav_primary .nav_primary__anchor::after {
    content: '';
    display: flex;
    background-color: var(--ita-colors-primary-500);
    width: var(--ita-spacings-2);
    min-width: var(--ita-spacings-2);
    aspect-ratio: 1;
    order: -1;
    margin-right: var(--ita-spacings-2);
    border-radius: 100%;
}
/* #nav_primary .nav_primary__anchor::after {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: -4px;
    width: 10px;
    height: calc(50% + 5px);
    background-image: radial-gradient( circle at 50% calc(100% - 5px), var(--ita-colors-primary-500) 0px, var(--ita-colors-primary-500) 4px, var(--ita-colors-neutral-100) 5px, var(--ita-colors-neutral-100) 100% );
    z-index: 1;
} */
/* #nav_primary > ol > li ol {
    border-left: 1px dashed var(--ita-colors-neutral-500);
} */
/* #nav_primary > ol li > a + ol > li:last-child::before {
    background-color: red;
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: calc(50% + 5px);
    background-color: red;
    z-index: 1;
} */
#nav_primary .nav_primary__anchor[aria-current="page"] {
    color: var(--ita-colors-primary-500);
}
#nav_primary > ol > li ol li {
    border-left: 1px dashed var(--ita-colors-neutral-500);
}
#nav_primary > ol > li > a.nav_primary__anchor {
    font-size: var(--ita-fontSizes-4);
    letter-spacing: -0.04em;
}
#nav_primary > ol > li > ol > li a.nav_primary__anchor {
    font-variation-settings: "wght" 400, "MONO" 0, "CASL" 0, "CRSV" 0, "slnt" 0;
}
#nav_primary > ol > li > ol > li a.nav_primary__anchor::after {
    width: var(--ita-spacings-1);
    min-width: var(--ita-spacings-1);
}
/* #nav_primary > ol > li:has(ol)::before {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px dashed var(--ita-colors-neutral-500);
    height: 100%;
}
#nav_primary > ol > li:has(ol)::after {
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px dashed var(--ita-colors-neutral-500);
    height: 100%;
} */
/* #nav_primary > ol > li:has(ol) > a.nav_primary__anchor {
    padding-top: var(--ita-spacings-5);
    padding-bottom: var(--ita-spacings-5);
} */
/* #nav_primary > ol li:has(ol) > a.nav_primary__anchor {
    border-left: 1px dashed var(--ita-colors-neutral-500);
} */

/* MAIN TABLE OF CONTENT */
#toc_main[open] > summary {
    border-bottom: none;
}
#toc_main[open] > summary .icon-plus-circle,
#toc_main:not([open]) > summary .icon-minus-circle {
    display: none;
}
#toc_main li {
    break-inside: avoid;
}

/* SANDBOX */
.sandbox {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.sandbox .sandbox__resizer {
    width: 20px;
}
.sandbox .sandbox__resizer:active,
.sandbox .sandbox__resizer:hover {
    cursor: col-resize;
    background-color: var(--ita-colors-neutral-700);
}
.sandbox .sandbox__enable_wrapper {
    opacity: 0;
    transition: opacity 300ms;
}
.sandbox .sandbox__enable_wrapper:hover {
    opacity: 1;
}
.sandbox:has(.sandbox__enable_switch:checked) .sandbox__enable_wrapper {
    display: none;
}
/* .sandbox p,
.sandbox li {
    text-shadow: none;
} */

/* FLOATING TABLE OF CONTENT */
#floating_toc[open] summary [class*="icon-"]::before {
    content: '\e910'
}
#floating_toc a {
    transition: all 300ms;
}
#floating_toc a:hover {
    color: var(--ita-colors-primary-700);
    font-variation-settings: "wght" 700, "MONO" 0;
}

/* RESPONSIVE MD */
@media (min-width: 960px) {
    #floating_toc__list {
        width: 200px;
        max-height: calc(100vh - 160px);
    }
}
/* RESPONSIVE XS + SM */
@media (max-width: 959px) {
    body {
        font-size: var(--ita-fontSizes-4);
    }
    main > * {
        max-width: calc(var(--libdoc-container-width) + 2 * var(--ita-spacings-5));
        padding-left: var(--ita-spacings-5);
        padding-right: var(--ita-spacings-5);
    }
    main > ol,
    main > ul {
        padding-left: var(--ita-spacings-8);
    }
    main li > ol,
    main li > ul {
        padding-left: var(--ita-spacings-7);
    }
    main > ol li,
    main > ol ol li {
        padding-left: var(--ita-spacings-2);
    }
    main > ol li::before,
    main > ol ol li::before {
        transform: translateY(0.3em) translateX(calc(-100% - var(--ita-spacings-2)));
        font-size: var(--ita-fontSizes-1);
    }
    main > pre {
        padding: var(--ita-spacings-5);
    }
    main > picture {
        padding: var(--ita-spacings-5);
    }
    main > figure {
        padding: var(--ita-spacings-5);
    }
}

/* HOVERS */
.__hover-1 {
    transition: all 300ms;
}
.__hover-1:hover {
    background-color: var(--ita-colors-primary-500);
    color: var(--ita-colors-primary-100);
    border-color: var(--ita-colors-primary-100);
}
.__hover-1:hover > * {
    color: var(--ita-colors-primary-100);
}
.__hover-2 {
    transition: all 300ms;
}
.__hover-2:hover {
    background-color: var(--ita-colors-success-500);
    color: var(--ita-colors-success-100);
    border-color: var(--ita-colors-success-100);
}
.__hover-2:hover > * {
    color: var(--ita-colors-success-100);
}
.__gradient-mask-neutral-100-to-top {
    background-color: var(--ita-colors-neutral-100);
    mask: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.__gradient-mask-neutral-100-to-bottom {
    background-color: var(--ita-colors-neutral-100);
    mask: linear-gradient(to bottom,rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0));
}
.__gradient-mask-primary-100-to-top {
    background-color: var(--ita-colors-primary-100);
    mask: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.__gradient-mask-primary-100-to-bottom {
    background-color: var(--ita-colors-primary-100);
    mask: linear-gradient(to bottom,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
