{% assign menu = collections.all | eleventyNavigation | eleventyNavigationToHtml: libdocConfig.navigationOptions %}
{% assign currentPageHrefAttribute = '<a href="' | append: page.url | append: '"' %}
{% capture currentPageReplacementAttribute %}{{ currentPageHrefAttribute }} aria-current="page"{% endcapture %}
{% assign menu = menu | replace: currentPageHrefAttribute, currentPageReplacementAttribute %}
{% assign tag_to_replace = '<' | append: libdocConfig.navigationOptions.listElement | append: '>' %}
{% assign tag_replacement = '<' | append: libdocConfig.navigationOptions.listElement | append: ' class="d-flex fd-column fg-1 order-1 | m-0 pl-5 o-hidden | ls-none">' %}
{% assign menu = menu | replace: tag_to_replace, tag_replacement %}
<div id="nav_primary"
    class="pos-relative | fg-1 o-auto">
    {% comment %} <div class="pos-sticky z-1 top-0 left-0 | w-100 pt-6 | pe-none | __gradient-mask-neutral-100-to-bottom"></div> {% endcomment %}
    {{ menu }}
    {% comment %} <div class="pos-sticky bottom-0 left-0 | w-100 pt-10 | pe-none | __gradient-mask-neutral-100-to-top"
        bradbl-3="md"
        bradbr-3="md"></div> {% endcomment %}
</div>