<nav id="nav_primary_tags_list"
    class="o-auto">
    <div class="pos-sticky z-1 top-0 left-0 | w-100 pt-6 | pe-none | __gradient-mask-neutral-100-to-bottom"></div>
    <p class="d-flex fw-wrap gap-3 | m-0 pl-5 pr-5 ">
        {% for tagName in collections.myTags %}
            <a  href="/tags/{{ tagName }}/"
                class="
                d-flex ai-center gap-2
                pl-2 pr-3 pt-1 pb-1
                fs-3 fvs-wght-600 lsp-2 td-none
                bwidth-1 bstyle-solid  brad-1 bradtl-3 bradbl-3
                {% if tag == tagName %}bc-success-100 c-success-500 bcolor-success-500{% else %}bc-primary-200 c-primary-500 bcolor-primary-400{% endif %}">
                <span class="icon-tag-simple"></span>
                <span>{{ tagName }}</span>
            </a>
        {% endfor %}
    </p>
    <div class="pos-sticky bottom-0 left-0 | w-100 pt-6 | pe-none | bbwidth-1 bbstyle-dashed bcolor-neutral-500 __gradient-mask-neutral-100-to-top"></div>
</nav>