---
# title: Tags list
description: List of all available tags
layout: simple_page.liquid
permalink: "tags/index.html"
# eleventyExcludeFromCollections: true
eleventyNavigation:
    key: Tags list
    order: 0
---
<div class=""><div class="pt-7 blwidth-1 blstyle-dashed bcolor-neutral-500"></div></div>
<div>{% include "tags_list" %}</div>
