:root {
    --libdoc-container-width: var(--ita-widths-content);
    --libdoc-font-family: "Recursive", sans-serif;
    --libdoc-tslegc: var(--ita-colors-primary-100);
    --libdoc-text-shadow-legibility:
        0.2em 0.2em 0.2em var(--libdoc-tslegc), -0.2em 0.2em 0.2em var(--libdoc-tslegc),
        0.2em -0.2em 0.2em var(--libdoc-tslegc), -0.2em -0.2em 0.2em var(--libdoc-tslegc),
        0.3em 0.3em 0.3em var(--libdoc-tslegc), -0.3em 0.3em 0.3em var(--libdoc-tslegc),
        0.3em -0.3em 0.3em var(--libdoc-tslegc), -0.3em -0.3em 0.3em var(--libdoc-tslegc),
        0.2em 0.2em 0.2em var(--libdoc-tslegc), -0.2em 0.2em 0.2em var(--libdoc-tslegc),
        0.2em -0.2em 0.2em var(--libdoc-tslegc), -0.2em -0.2em 0.2em var(--libdoc-tslegc),
        0.3em 0.3em 0.3em var(--libdoc-tslegc), -0.3em 0.3em 0.3em var(--libdoc-tslegc),
        0.3em -0.3em 0.3em var(--libdoc-tslegc), -0.3em -0.3em 0.3em var(--libdoc-tslegc);
}
/* FONTS */
/* cyrillic-ext */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_cyrillic_ext.woff2') format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* vietnamese */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_vietnamese.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_latin_ext.woff2') format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 800;
    font-display: swap;
    src: url('../fonts/Recursive_latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@view-transition {
    navigation: auto;
}

* {
    box-sizing: border-box;
}

body,
input,
code,
button {
    font-family: var(--libdoc-font-family);
}

body {
    background: 0px 0px / 20px 20px radial-gradient(var(--ita-colors-primary-300) 0.5px,var(--ita-colors-primary-100) 1px);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0, "CASL" 1, "CRSV" 0.0, "MONO" 0, "wght" 300;
}

html,
.o-auto {
    scrollbar-color: var(--ita-colors-primary-500) transparent;
    scrollbar-width: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: default;
}

main {
    &>* {
        display: block;
        width: 100%;
        max-width: calc(var(--libdoc-container-width) + 2 * var(--ita-spacings-9));
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--ita-spacings-9);
        padding-right: var(--ita-spacings-9);
        del {
            background-color: var(--ita-colors-danger-100);
            color: var(--ita-colors-danger-900);
        }
        ins {
            background-color: var(--ita-colors-success-100);
            color: var(--ita-colors-success-900);
        }
    }
    * {
        &::selection {
            text-shadow: none;
            background-color: var(--ita-colors-primary-200);
            color: var(--ita-colors-primary-900);
        }
    }
    &>header {
        p,
        summary {
            text-shadow: var(--libdoc-text-shadow-legibility);
        }
    }
    p {
        text-shadow: var(--libdoc-text-shadow-legibility);
        line-height: 1.6em;
    }
    /* HEADINGS */
    &>h1 {
        font-variation-settings: "wght" 800;
        font-size: var(--ita-fontSizes-10);
        letter-spacing: -0.06em;
    }
    &>h2 {
        font-variation-settings: "wght" 700;
        font-size: var(--ita-fontSizes-10);
        letter-spacing: -0.06em;
    }
    &>h3 {
        font-variation-settings: "wght" 800;
        font-size: var(--ita-fontSizes-9);
        letter-spacing: -0.05em;
    }
    &>h4 {
        font-variation-settings: "wght" 700;
        font-size: var(--ita-fontSizes-9);
        letter-spacing: -0.05em;
    }
    &>h5 {
        font-variation-settings: "wght" 800;
        font-size: var(--ita-fontSizes-8);
        letter-spacing: -0.05em;
    }
    &>h6 {
        font-variation-settings: "wght" 700;
        font-size: var(--ita-fontSizes-8);
        letter-spacing: -0.05em;
    }
    /* LINKS */
    a:link,
    a:visited {
        color: var(--ita-colors-primary-500);
        font-variation-settings: "wght" 500;
        letter-spacing: -0.03em;
        text-shadow: none;
        text-underline-offset: 0.2em;
        text-decoration-thickness: 0.1em;
    }
    /* EMPHASIS */
    em {
        font-variation-settings: "SLNT" 1, "wght" 400;
    }
    strong,
    b {
        font-variation-settings: "wght" 700;
    }
    i {
        font-variation-settings: "slnt" -15;
    }
    mark {
        text-shadow: none;
        background-color: aqua; 
        /* #ffe300 */
    }
    s,
    strike {
        text-decoration-color: var(--ita-colors-primary-500);
        text-decoration-thickness: 0.15em;
        text-decoration-style: dashed;
    }
    del {
        text-shadow: none;
        * {
            text-shadow: none;
            background-color: var(--ita-colors-danger-100);
            color: var(--ita-colors-danger-900);
            max-width: var(--libdoc-container-width);
        }
    }
    ins {
        text-shadow: none;
        * {
            text-shadow: none;
            background-color: var(--ita-colors-success-100);
            color: var(--ita-colors-success-900);
            max-width: var(--libdoc-container-width);
        }
    }
    samp {
        font-family: var(--libdoc-font-family);
        font-variation-settings: "MONO" 1, "CASL" 1, "wght" 400;
    }
    q {
        font-variation-settings: "slnt" -15, "CRSV" 1, "CASL" 1, "wght" 400;
        text-shadow: none;
        background-color: var(--ita-colors-primary-100);
    }
    kbd {
        font-variation-settings: "MONO" 1, "wght" 400;
        font-family: var(--libdoc-font-family);
        text-shadow: none;
        background-color: var(--ita-colors-primary-200);
        padding: 0 0.4em;
        border-radius: 4px;
    }
    /* LISTS */
    ul,
    ol {
        line-height: 1.6em;
    }

    /* 
    https://www.joshwcomeau.com/css/styling-ordered-lists-with-css-counters/
    */
    &>ol {
        padding-left: var(--ita-spacings-11);
    }
    &>ol,
    &>ol ol {
        counter-reset: listItem;
        list-style: none;
        li {
            counter-increment: listItem;
            padding-left: var(--ita-spacings-2);
            &:before {
                content: counters(listItem, '.') '. ';
                position: absolute;
                transform: translateX(calc(-100% - var(--ita-spacings-3)));
                display: inline-block;
                font-variation-settings: "wght" 400;
                font-size: var(--ita-fontSizes-3);
                padding-right: var(--ita-spacings-1);
                color: var(--ita-colors-primary-600);
                margin-left: var(--ita-spacings-2);
                margin-right: var(--ita-spacings-3);
            }
        }
    }
    &>ul {
        padding-left: var(--ita-spacings-11);
    }
    &>ul,
    &>ul ul {
        list-style: none;
        li {
            &:before {
                content: '';
                position: absolute;
                transform: translateX(calc(-100% - var(--ita-spacings-5)));
                display: inline-block;
                padding: var(--ita-spacings-1);
                background-color: var(--ita-colors-primary-500);
                border-radius: 100%;
                margin-right: var(--ita-spacings-3);
                margin-left: var(--ita-spacings-2);
                margin-top: var(--ita-spacings-2);
            }
        }
    }
    li {
        text-shadow: var(--libdoc-text-shadow-legibility);
    }
    /* CODE AND SYNTAX HIGHLIGHTING */
    p > code {
        background-color: var(--ita-colors-primary-200);
        text-shadow: none;
        display: inline-block;
        margin-right: 0.3em;
        margin-left: 0.3em;
        padding-left: 0.3em;
        padding-right: 0.3em;
        border-radius: 0.3em;
        font-variation-settings: "wght" 400;
        color: var(--ita-colors-primary-800);
    }
    /* language not supported in highlight js */
    pre:not(:has(.hljs)) {
        overflow: auto;
    }
    /* HIGHLIGHT JS */
    &>pre code.hljs {
        border-radius: 6px;
        &::before {
            content: attr(class);
            display: block;
            padding-bottom: var(--ita-spacings-2);
            margin-bottom: var(--ita-spacings-2);
            border-bottom: 1px dashed #385267;
            font-size: var(--ita-fontSizes-2);
            font-variation-settings: "wght" 400;
        }
    }
    /* TABLES */
    table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        max-width: var(--libdoc-container-width);
        thead {
            th {
                text-align: left;
                font-variation-settings: "wght" 400;
                font-size: var(--ita-fontSizes-3);
                padding: var(--ita-spacings-3);
                background-color: var(--ita-colors-primary-100);
                border: 1px solid var(--ita-colors-primary-200);
            }
        }
        tbody {
            tr {
                td {
                    padding: var(--ita-spacings-3);
                    font-size: var(--ita-fontSizes-3);
                    border: 1px solid var(--ita-colors-primary-200);
                    font-variation-settings: "wght" 400;
                }
                &:nth-child(odd) {
                    td {
                        background-color: var(--ita-colors-primary-200);
                        color: var(--ita-colors-primary-900);
                    }
                }
                &:nth-child(even) {
                    td {
                        background-color: var(--ita-colors-primary-100);
                    }
                }
            }
        }
    }
    /* QUOTES */
    blockquote {
        background-color: var(--ita-colors-primary-100);
        color: var(--ita-colors-primary-800);
        padding: var(--ita-spacings-5) var(--ita-spacings-7);
        max-width: var(--libdoc-container-width);
        border-radius: 6px;
        border: 1px solid var(--ita-colors-primary-200);
        font-family: var(--libdoc-font-family);
        font-size: var(--ita-fontSizes-5);
        * {
            font-variation-settings: "slnt" -15, "CASL" 1 , "CRSV" 1;
            text-shadow: none;
        }
    }
    dl {
        dt {
            font-variation-settings: "wght" 400;
            margin-bottom: 0.2em;
        }
        dd {
            margin-left: var(--ita-spacings-5);
            margin-bottom: 1em;
            line-height: 1.6em;
        }
    }
    &>details {
        summary {
            font-variation-settings: "wght" 400;
            display: flex;
            align-items: center;
            gap: var(--ita-spacings-2);
            &::before {
                content: '\e914';
                font-family: icomoon;
                color: var(--ita-colors-primary-500);
                font-size: var(--ita-fontSizes-6);
            }
        }
        &[open] {
            summary {
                &::before {
                    content: '\e913';
                }
            }
        }
    }
    hr {
        border: none;
        &::before {
            content: "";
            display: block;
            width: 100%;
            border-bottom: 1px dashed var(--ita-colors-neutral-500);
        }
    }
    &>video {
        background: var(--ita-colors-neutral-900);
        padding: 0;
        max-width: var(--libdoc-container-width);
    }
}
@media (max-width: 959px) {
    main {
        &>* {
            max-width: calc(var(--libdoc-container-width) + 2 * var(--ita-spacings-5));
            padding-left: var(--ita-spacings-5);
            padding-right: var(--ita-spacings-5);
        }
    }
}

code {
    font-variation-settings: "slnt" 0, "CASL" 0, "CRSV" 0.0, "MONO" 1, "wght" 300;
    line-height: 1.6em;
    font-size: var(--ita-fontSizes-3);
}

#nav_primary {
    [aria-current="page"] {
        opacity: 0.5;
    }
    .nav_primary__anchor::before {
        content: '';
        display: flex;
        position: absolute;
        top: calc(50% - 0.5px);
        right: 100%;
        border-top: 1px dashed var(--ita-colors-neutral-500);
        width: 200px;
    }
    .nav_primary__anchor::after {
        content: '';
        display: flex;
        position: absolute;
        top: calc(50% - 2.5px);
        left: 0%;
        border-radius: 100%;
        background-color: var(--ita-colors-primary-500);
        width: 5px;
        height: 5px;
    }
}

/* TABLE OF CONTENT */
#toc_main {
    &[open] {
        &>summary {
            border-bottom: none;
            .icon-plus-circle {
                display: none;
            }
        }
    }
    &:not([open]) {
        &>summary {
            .icon-minus-circle {
                display: none;
            }
        }
    }
    li {
        break-inside: avoid;
    }
}

/* SANDBOX */
.sandbox {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
.sandbox__resizer {
    width: 20px;
}
.sandbox__resizer:active,
.sandbox__resizer:hover {
    cursor: col-resize;
    background-color: var(--ita-colors-neutral-700);
}
.sandbox__enable_wrapper {
    opacity: 0;
    transition: opacity 300ms;
}
.sandbox__enable_wrapper:hover {
    opacity: 1;
}
.sandbox:has(.sandbox__enable_switch:checked) .sandbox__enable_wrapper {
    display: none;
}

/* BROWSERS DEFAULTS */

/* <details> défaut style on iOS */
details > summary::-webkit-details-marker {
    display: none;
}
details:not([open]) > summary .icons span[class*="icon-"]:nth-child(2) {
    display: none;
}
details[open] > summary .icons span[class*="icon-"]:nth-child(1) {
    display: none;
}
/* <button> and <select> default style on iOS */
select, button {
    color: black
}
/* Opacity disabled input on iOS */
input:disabled {
    opacity: 1;
}
/* input type search reset */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
}

/* FANCY */
.anchored {
    transition: background-position 300ms;
    background: 
        top left no-repeat url('../medias/anchor.svg'),
        top right no-repeat url('../medias/anchor.svg'),
        bottom right no-repeat url('../medias/anchor.svg'),
        bottom left no-repeat url('../medias/anchor.svg'),
        2.5px 2.5px repeat-x url('../medias/bar_horizontal.svg'),
        calc(100% - 2.5px) calc(100% - 2.5px) repeat-x url('../medias/bar_horizontal.svg'),
        calc(100% - 2.5px) calc(100% - 2.5px) repeat-y url('../medias/bar_vertical.svg'),
        2.5px 2.5px repeat-y url('../medias/bar_vertical.svg');
    &:hover {
        background-position: 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    }
} 