
/* FONTS */
@font-face {
    font-family: "TYPO_1";
    src: url("../fonts/EncodeSans-Regular.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}
@font-face {
    font-family: "TYPO_2";
    src: url("../fonts/EncodeSans-Bold.woff2") format("woff2");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}

@view-transition {
    navigation: auto;
}